{{ define "main" }}
<main class="c-list">
    <h2 class="c-list__heading">Latest updates</h2>

    {{- range first 5 .Site.RegularPages -}} {{- if eq .Type "updates"}}
    <article class="c-post">
        <header>
            <h3 class="c-post__title">
                <a href="{{ .Permalink }}">{{- .Title -}}</a>
            </h3>
            <p>{{- .Description -}}</p>
            <time>
                Posted&nbsp;{{- .Date.Format "January 2, 2006" -}}
            </time>
        </header>
        <section class="c-post__body">
            {{- .Content -}}
        </section>
    </article>
    {{- end -}} {{- end }}
</main>
{{ end }}
