.c-featuredposts {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    li {
        padding: space(24);
        &:nth-of-type(odd) {
            background-color: rgba(255, 255, 255, 0.02);
        }
        &:nth-of-type(even) {
            background-color: rgba(255, 255, 255, 0.04);
        }
    }
}

@media screen and (min-width: 40rem) {
    .c-featuredposts {
        flex-direction: row;
        li {
            width: percentage(1/3);
        }
    }
}
