.c-featuredposts {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        padding: space(24);
        flex: 1 1 24ch;
        &:nth-of-type(odd) {
            background-color: rgba(255, 255, 255, 0.02);
        }
        &:nth-of-type(even) {
            background-color: rgba(255, 255, 255, 0.04);
        }
    }
}
