.c-figure {
    margin-left: 0;
    margin-right: 0;
    img {
        @include img-fluid;
        border: 1px solid color(gray);
        opacity: percentage(2/3);
        transition: opacity 0.4s ease-out, border-color 0.4s ease-out;
    }
    figcaption {
        @include font-size(xs);
    }

    a:hover {
        img {
            border-color: color(gray, light);
            opacity: 1;
        }
    }
}
