.c-home {
    background-image: repeating-linear-gradient(
            -45deg,
            transparent,
            transparent 5px,
            #000 5px,
            #000 8px
        ),
        linear-gradient(-15deg, color(gray, darker), color(blue, darker), color(purple, dark));
    &__hero {
        @include container();
        padding-top: space(32);
        padding-bottom: space(32);
        flex: 1 1 80vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__featured {
        flex: 1 0 40ch;
    }
}

@media screen and (min-width: 50rem) and (min-height: 20rem) {
    .c-home {
        display: flex;
        height: 100vh;
    }
}
