.c-home {
  padding-top: space(16);
  @include breakpoint-md {
    @include container();
  }
  @include breakpoint-lg {
    section {
      padding-top: space(16);
      padding-bottom: space(16);
    }
  }
  &__heading {
    display: inline-block;
    background-color: color(gray, dark);
    @include container();
    padding-top: space(24);
    padding-bottom: space(24);
    margin-bottom: space(32);
    background-size: cover;
    background-position: right center;
    text-shadow: 0 1px 2px black;
    @include breakpoint-md {
      border-radius: 0.25rem;
      border: 1px solid color(gray);
    }
    @include breakpoint-lg {
      font-size: 4.5rem;
      line-height: 1.4;
      letter-spacing: -0.02229935331042822em;
      padding-right: 4.5rem;
    }
  }
  &__body {
    @include container();
    @include breakpoint-md {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    p {
      margin: space(16) 0;
      padding-left: space(16);
      padding-right: space(16);
      flex: 1 0 auto;
      text-align: center;
      @include font-size(l);
      letter-spacing: -0.016657338648324763em;
      @include breakpoint-lg {
      }
    }
  }
  h2 {
    display: table;
    white-space: nowrap;
    margin-right: space(16);
    @include font-size(xxl);
    @include typeface(monospace);
    letter-spacing: 0.025em;
    font-weight: 400;
    &::after {
      border-top: 1px solid $text-color;
      content: '';
      display: table-cell;
      position: relative;
      top: 1em;
      width: 100%;
      left: 0.5em;
    }
  }
  h3 {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}
