.c-layout {
    background-color: $background-color;
}

@media screen and (min-width: 25rem) and (orientation: landscape) {
    .c-layout {
        display: flex;
        .c-siteheader {
            flex: 0 1 0;
        }
        #content {
            flex: 1 1 auto;
        }
    }
}
