.c-navigation {
  @include font-size(s);
  a {
    display: block;
    padding: space(4);
  }
}

@media screen and (min-width: 40rem) {
  .c-navigation {
    display: flex;
    align-items: center;
    padding-top: space(16);
    padding-bottom: space(16);
    align-items: flex-start;
    @include font-size(l);
    a {
      padding-left: space(24);
    }
  }
}
