.c-post {
    background-color: color(gray, dark);
    @include container();
    padding-top: space(24);
    padding-bottom: space(24);
    margin-bottom: space(32);
    header {
        border-bottom: 1px solid color(gray);
        padding-bottom: space(32);
        margin-bottom: space(32);
        time {
            @include type-layout(xs, 1);
        }
    }
    &__body {
        p,
        li {
            @include type-layout(s, 1);
        }
    }
}
