.c-post {
  background-color: color(gray, dark);
  @include container();
  padding-top: space(24);
  padding-bottom: space(24);
  header {
    border-bottom: 1px solid color(gray);
    padding-bottom: space(32);
    margin-bottom: space(32);
    time {
      @include font-size(s);
    }
  }
  &__body {
    h2 {
      display: table;
      white-space: nowrap;
      margin-right: space(16);
      margin-top: space(64);
      margin-bottom: space(32);
      @include font-size(xxl);
      @include typeface(monospace);
      letter-spacing: 0.025em;
      font-weight: 400;
      &::after {
        border-top: 1px solid $text-color;
        content: '';
        display: table-cell;
        position: relative;
        top: 1em;
        width: 100%;
        left: 0.5em;
      }
    }
  }
}
