html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @include typeface(body);
    background-color: $background-color;
    color: $text-color;
}

a {
    color: $action-color;
    text-decoration: none;
    @include hover {
        color: $action-color-hover;
        text-decoration: underline;
    }
}

h1,
h2 {
    @include typeface(headline);
}

li {
    @include margin(1 0);
}
