@use "sass:color";
@use "sass:map";
@use "sass:meta";

// CRAYONS

$crayon-gray-010: #d8dce1;
$crayon-gray-020: #bec5cd;
$crayon-gray-030: #9ea8b4;
$crayon-gray-040: #7e8b9a;
$crayon-gray-050: #5d6e81;
$crayon-gray-060: #3d5168;
$crayon-gray-070: #334457;
$crayon-gray-080: #293645;
$crayon-gray-090: #1f2934;
$crayon-gray-100: #141b23;
$crayon-gray-110: #0c1015;

$crayon-blue-010: #cce3ff;
$crayon-blue-020: #aad0ff;
$crayon-blue-030: #80b9ff;
$crayon-blue-040: #55a2ff;
$crayon-blue-050: #2a8aff;
$crayon-blue-060: #0073ff;
$crayon-blue-070: #0060d5;
$crayon-blue-080: #004daa;
$crayon-blue-090: #003a80;
$crayon-blue-100: #002655;
$crayon-blue-110: #001733;

$crayon-orange-010: #ffebcc;
$crayon-orange-020: #ffdeaa;
$crayon-orange-030: #ffce80;
$crayon-orange-040: #ffbd55;
$crayon-orange-050: #ffad2a;
$crayon-orange-060: #ff9c00;
$crayon-orange-070: #d58200;
$crayon-orange-080: #aa6800;
$crayon-orange-090: #804e00;
$crayon-orange-100: #553400;
$crayon-orange-110: #331f00;

// SEMANTIC

$color-surface: $crayon-gray-100;
$color-surface-alt: $crayon-blue-110;
$color-surface-raised: color.adjust($crayon-gray-080, $alpha: -0.7);

$color-text: $crayon-gray-020;

$color-text-interactive-basic: $crayon-gray-020;
$color-text-interactive-primary: $crayon-orange-050;
$color-text-interactive-primary-hover: $crayon-orange-040;

$color-surface-border: $crayon-gray-080;
$color-surface-divider: $crayon-gray-060;

$color-fill-neutral: color.adjust($crayon-gray-110, $alpha: -0.1);

$color-interactive-fill-basic: $crayon-gray-100;
$color-interactive-fill-primary: $crayon-orange-100;

$color-interactive-border-basic: $crayon-gray-060;
$color-interactive-border-basic-hover: $crayon-gray-050;
$color-interactive-border-primary: $crayon-orange-060;
$color-interactive-border-primary-hover: $crayon-orange-050;

$shadow-raised:
  0px 0px 0px $crayon-gray-110,
  0px 8px 12px color.adjust($crayon-gray-110, $alpha: -0.5),
  0px 0px 1px color.adjust($crayon-gray-110, $alpha: -0.5);
$shadow-text-glow: 0 0 0.25em color.adjust($crayon-gray-010, $alpha: -0.5);
