@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/spacing" as s;
@use "../typey/mixins/typeface" as tf;
@use "../mixins/state" as st;
@use "../mixins/cssvars" as cv;

.c-button {
  display: inline-flex;
  position: relative;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 0.25rem),
    calc(100% - 0.25rem) 100%,
    0 100%
  );
  transition-duration: 0.2s;
  transition-property: background-color;
  transition-timing-function: ease-out;
  background-color: cv.cv(color-interactive-border-basic);
  padding: 1px 1px 1px 4px;
  color: cv.cv(color-text-interactive);
  line-height: 1;
  text-transform: lowercase;
  @include fs.font-size(m);
  @include tf.typeface(heading);
  &__label {
    display: none;
  }
  &::before {
    display: inline-block;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 0.25rem),
      calc(100% - 0.25rem) 100%,
      0 100%
    );
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease-out;
    background-color: cv.cv(color-interactive-fill-basic);
    padding: 0.5em 3em 0.5em 0.5em;
    width: 100%;
    height: 100%;
    content: attr(data-button-label);
  }
  &::after {
    display: block;
    position: absolute;
    top: calc(50% - 0.5em);
    right: 1em;
    opacity: 50%;
    clip-path: polygon(0 0, 100% 50%, 0 100%);
    transition-duration: 0.2s, 0.2s;
    transition-property: background-color, right;
    transition-timing-function: ease-out, ease-out;
    background-color: cv.cv(color-interactive-border-basic);
    width: 0.5em;
    height: 1em;
    content: "";
  }
  @include st.hover {
    transition-timing-function: ease-in;
    background-color: cv.cv(color-interactive-border-basic-hover);
    color: cv.cv(color-text-interactive);
    text-decoration: none;
    &::before {
      transition-timing-function: ease-in;
      color: cv.cv(color-text-interactive);
    }
    &::after {
      right: 0.5em;
      transition-timing-function: ease-in, ease-in;
      background-color: cv.cv(color-interactive-border-basic-hover);
    }
  }
  &--primary {
    background-color: cv.cv(color-interactive-border-primary);
    &::before {
      background-color: cv.cv(color-interactive-fill-primary);
    }
    &::after {
      background-color: cv.cv(color-interactive-border-primary);
    }
    @include st.hover {
      background-color: cv.cv(color-interactive-border-primary-hover);
      &::after {
        background-color: cv.cv(color-interactive-border-primary-hover);
      }
    }
  }
}
