@use "../settings/colors" as c;
@use "../mixins/img-fluid" as if;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/spacing" as s;

.c-figure {
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  a {
    display: inline-block;
  }
  img {
    @include if.img-fluid;
    @include s.margin(0, "auto");
    opacity: 80%;
    border: 1px solid c.color(gray);
    max-height: 40rem;
    max-height: 70vh;
  }
  figcaption {
    @include fs.font-size(s);
  }

  a:hover {
    img {
      opacity: 1;
      border-color: c.color(gray, light);
    }
  }
}
