@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/typeface" as tf;
@use "../typey/mixins/spacing" as s;
@use "../mixins/cssvars" as cv;

.c-tag {
  @include fs.font-size(xxs);
  @include s.margin(0.25 0.25 0.25 0);
  @include s.padding(0.25 0.5);
  display: inline-block;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 0.25rem),
    calc(100% - 0.25rem) 100%,
    0 100%
  );
  background-color: cv.cv(color-fill-neutral);
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}
