@use "../typey/mixins/typeface" as tf;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/spacing" as s;
@use "../mixins/cssvars" as cv;

.c-display {
  @include tf.typeface(heading);
  line-height: 1;
  text-transform: lowercase;
  &--1 {
    @include fs.font-size(xxxl);
    line-height: 1;
  }
  &--2 {
    @include fs.font-size(xxl);
  }
  &--3 {
    @include fs.font-size(xl);
  }
}

.c-lead {
  @include fs.font-size(s);
  line-height: 1.5;
}
