.c-industry-alert {
  padding: space(16);
  color: $background-color;
  background-color: color(orange, light);
  background-image: repeating-linear-gradient(
    -45deg,
    color(orange, light),
    color(orange, light) 2%,
    color(orange) 2%,
    color(orange) 4%
  );
  border-top: 1px solid color(orange, lighter);
  border-bottom: 1px solid color(orange, dark);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  background-size: 200% 200%;
  animation: alert-scroll 10s linear infinite;
  animation-direction: reverse;
  &__header {
    @include font-size(xs);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: space(16);
    color: color(orange, darker);
    text-shadow: 0 1px 1px color(orange, lighter);
    letter-spacing: 0.1em;
  }
  &__body {
    @include typeface(monospace);
    letter-spacing: 0;
    strong {
      text-transform: uppercase;
    }
  }
  @include breakpoint-md {
    border-radius: 0.25rem;
  }
}

@keyframes alert-scroll {
  100% {
    background-position: 80% 80%;
  }
}
