.c-sitefooter {
  @include typeface(monospace);
  @include font-size(s);
  letter-spacing: 0;
  padding: space(32) space(16);
  border-top: 1px solid color(gray);
  p {
    margin: 0;
  }
}

@include breakpoint-lg {
  .c-sitefooter {
    display: flex;
    justify-content: space-between;
  }
}
