{{ define "main" }}
  <main class="c-list">
    <div class="c-industry-alert">
      <div class="c-industry-alert__header">Chilblane Industries</div>
      <div class="c-industry-alert__body">
        <strong>Status:</strong> The portfolio sector has finished receiving
        content. Redesign is in progress.
      </div>
    </div>
    <h2 class="c-list__heading">Selected work</h2>
    {{ range .Pages }}
      <article class="c-post">
        <header>
          <h3 class="c-post__title">
            <a href="{{ .Permalink }}">{{- .Title -}}</a>
          </h3>
          <p>{{- .Description -}}</p>
          <p class="u-margin-b-none">{{- .Params.project_year -}}</p>
        </header>
        <section class="c-post__body">
          {{- if eq .Type "updates" }}
            {{- .Content -}} {{- else }}
            <a href="{{ .Permalink }}">Read more</a>
          {{- end }}
        </section>
      </article>
    {{- end -}}
  </main>
{{ end }}
