{{ define "main" }}
  <main class="c-list">
    <div class="c-industry-alert">
      <div class="c-industry-alert__header">Chilblane Industries</div>
      <div class="c-industry-alert__body">
        <strong>Status:</strong> The portfolio sector has finished receiving
        content. Redesign is in progress.
      </div>
    </div>
    <h2 class="c-list__heading">Selected work</h2>
    <div class="c-portfolio">
      {{ range .Pages }}
        <div class="c-portfolio__column">
          <article class="c-portfolio__item">
            <header>
              <h3 class="c-portfolio__title">
                <a href="{{ .Permalink }}">{{- .Title -}}</a>
              </h3>
              <p>{{- .Description -}}</p>
              <p class="u-margin-b-none">{{- .Params.project_year -}}</p>
            </header>
          </article>
        </div>
      {{- end -}}
    </div>
  </main>
{{ end }}
