@use "sass:color";
@use "../settings/colors" as c;
@use "../settings/variables" as v;
@use "../settings/typography" as t;
@use "../typey/mixins/spacing" as s;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/typeface" as tf;
@use "../mixins/breakpoints" as b;
@use "../mixins/state" as state;
@use "../mixins/cssvars" as cv;

@include cv.cssvars(
  (
    sizes-content-width: #{v.$sizes-content-width},

    base-font-size: #{t.$base-font-size},
    base-font-size-large: #{t.$base-font-size-large},

    color-surface: #{c.$color-surface},
    color-surface-alt: #{c.$color-surface-alt},
    color-surface-raised: #{c.$color-surface-alt},
    color-text: #{c.$color-text},
    color-text-interactive-basic: #{c.$color-text-interactive-basic},
    color-text-interactive-primary: #{c.$color-text-interactive-primary},
    color-text-interactive-primary-hover:
      #{c.$color-text-interactive-primary-hover},
    color-surface-border: #{c.$color-surface-border},
    color-surface-divider: #{c.$color-surface-divider},
    color-fill-neutral: #{c.$color-fill-neutral},
    color-interactive-fill-basic: #{c.$color-interactive-fill-basic},
    color-interactive-fill-primary: #{c.$color-interactive-fill-primary},
    color-interactive-border-basic: #{c.$color-interactive-border-basic},
    color-interactive-border-basic-hover:
      #{c.$color-interactive-border-basic-hover},
    color-interactive-border-primary: #{c.$color-interactive-border-primary},
    color-interactive-border-primary-hover:
      #{c.$color-interactive-border-primary-hover},

    shadow-raised: #{c.$shadow-raised},
    shadow-text-glow: #{c.$shadow-text-glow},
  )
);

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-size: cv.cv(base-font-size);
  text-rendering: optimizeLegibility;
  @include b.breakpoint-xl {
    font-size: cv.cv(base-font-size-large);
  }
}

body {
  @include tf.typeface(body);
  @include fs.font-size(m);
  background-image:
    linear-gradient(
      cv.cv(color-fill-neutral) 0,
      cv.cv(color-fill-neutral) 1px,
      transparent 1px,
      transparent 5px
    ),
    linear-gradient(cv.cv(color-surface), cv.cv(color-surface-alt));
  background-size:
    auto 5px,
    auto auto;
  background-attachment: fixed, fixed;
  background-color: cv.cv(color-surface);
  color: cv.cv(color-text);
  line-height: 1.5;
  letter-spacing: 0.01em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: cv.cv(color-text-interactive-primary);
  text-decoration: none;
  @include state.hover {
    color: cv.cv(color-text-interactive-primary-hover);
    text-decoration: underline;
  }
}

li {
  @include s.margin(1 0);
}
