{{ define "main" }}
  <main class="p-list">
    <h2 class="c-display c-display--1">Selected work</h2>
    <div class="p-list__grid">
      {{ range (.Pages.ByParam "project_year").Reverse }}
        <article class="p-list__item">
          {{ $title := .Title }}
          {{ $thumbnail :=resources.Get "images/placeholder.jpg" }}
          {{ $featured_image := (.Resources.ByType "image").GetMatch "featured-image*" }}
          {{ if $featured_image }}
            {{ $thumbnail = $featured_image }}
          {{ end }}
          {{ with $thumbnail }}
            <img src="{{ .Permalink }}" alt="{{ $title }}" />
          {{ end }}
          <span class="c-tag">{{- .Params.project_year -}}</span>
          <h3>
            <a
              class="c-button"
              href="{{ .Permalink }}"
              data-button-label="{{- $title -}}"
            >
              <span class="c-button__label">{{- $title -}}</span>
            </a>
          </h3>
          <p>{{- .Description -}}</p>
          <div>
            {{ $knowledge := "knowledge" }}
            {{ $skills := "skills" }}
            {{ with .Param $knowledge }}
              {{ range $index, $tag := . }}
                <span class="c-tag">{{ $tag }}</span>
              {{- end -}}
            {{- end -}}
            {{ with .Param $skills }}
              {{ range $index, $tag := . }}
                <span class="c-tag">{{ $tag }}</span>
              {{- end -}}
            {{- end -}}
          </div>
        </article>
      {{- end -}}
    </div>
  </main>
{{ end }}
