{{ define "main" }}
  <main class="p-resume">
    <article>
      <header>
        <div>
          <h1 class="c-display c-display--1">{{ .Params.heading }}</h1>
          <div>
            <a
              class="c-button c-button--primary"
              href="https://www.figma.com/file/leUdyaUZWfSXKxZ1FxC1vR/Resume?type=design&mode=design"
              data-button-label="View in Figma"
            >
              <span class="c-button__label">View in Figma</span>
            </a>
            <a
              class="c-button"
              href="/resume-20250715.pdf"
              data-button-label="Download PDF"
            >
              <span class="c-button__label">Download PDF </span></a
            >
          </div>
        </div>

        <section class="p-contactoptions">
          <h2 class="u-sr-only">Contact</h2>
          <dl>
            <dt>Email</dt>
            <dd>
              {{ .Site.Params.email }}
            </dd>
            <dt>GitHub</dt>
            <dd>
              <a href="{{- .Site.Params.github -}}">
                {{- strings.TrimPrefix "https://www." .Site.Params.github -}}
              </a>
            </dd>
            <dt>LinkedIn</dt>
            <dd>
              <a href="{{- .Site.Params.linkedin -}}">
                {{- strings.TrimPrefix "https://www." .Site.Params.linkedin -}}
              </a>
            </dd>
          </dl>
        </section>
      </header>
      <section>
        <h2>Skills</h2>
        <div>
          {{ range .Site.Data.skills }}
            <h3>{{ .category }}</h3>
            <ul class="u-padding-l-z">
              {{ range .skills }}
                <li class="c-tag">{{ . }}</li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </section>

      <section class="p-experience">
        <h2>Experience</h2>
        {{ range .Site.Data.experience }}
          <div class="u-margin-b-xxxl">
            <div class="p-experience__header">
              <div>
                <h3>
                  {{ .role }},
                  <span class="u-weight-normal">{{ .company }}</span>
                </h3>
                <p class="u-fontsize-s u-margin-z">
                  {{ .startDate }} -
                  {{ .endDate }}
                </p>
                <p class="u-fontsize-s u-margin-z">{{ .location }}</p>
              </div>
              <ul class="u-padding-l-z">
                {{ range .skills }}
                  <li class="c-tag">{{ . }}</li>
                {{ end }}
              </ul>
            </div>
            <ul>
              {{ range .summary }}
                <li>{{ . }}</li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </section>
      <section class="p-experience">
        <h2>Education</h2>
        {{ range .Site.Data.education }}
          <div class="u-margin-b-xxxl">
            <div>
              <h3>{{ .degree }}</h3>
            </div>
            <p class="u-fontsize-s u-margin-z">
              {{ .startDate }} -
              {{ .endDate }}
            </p>
            <p class="u-fontsize-s u-margin-z">
              {{ .institution }}
            </p>
          </div>
        {{ end }}
      </section>
    </article>
  </main>
{{ end }}
