@use "../mixins/breakpoints" as b;
@use "../mixins/containers" as c;
@use "../mixins/cssvars" as cv;

.l-layout {
  @include c.container();
  margin-right: auto;
  margin-left: auto;
  max-width: cv.cv(sizes-content-width);
}
