@use "../mixins/breakpoints.scss" as b;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/typeface" as tf;
@use "../typey/mixins/spacing" as s;
@use "../mixins/cssvars" as cv;

.l-navigation {
  @include fs.font-size(m);
  @include tf.typeface(heading);
  display: flex;
  flex-direction: column;
  border-right: 1px solid cv.cv(color-surface-border);
  text-transform: lowercase;
  a {
    @include s.padding(0.5 1);
    display: block;
    &:not(:last-child) {
      border-bottom: 1px solid cv.cv(color-surface-border);
    }
  }
}

@include b.breakpoint-lg {
  .l-navigation {
    flex-direction: row;
    align-items: center;
    border-right: 0;
    a {
      display: block;
      &:not(:last-child) {
        border-bottom: 0;
      }
    }
  }
}
