@use "../settings/typography.scss" as *;
@use "../mixins/breakpoints.scss" as b;
@use "../mixins/containers" as c;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/spacing" as s;
@use "../typey/mixins/typeface" as tf;
@use "../mixins/cssvars" as cv;

.l-siteheader {
  @include s.padding(1 0);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid cv.cv(color-surface-border);
  background-color: cv.cv(color-surface-raised);
  &::before {
    content: "<header />";
  }
  &__far {
    @include s.padding(0 1);
    @include tf.typeface(heading);
    @include fs.font-size(l);
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    line-height: 1;
    text-align: right;
    text-shadow: cv.cv(shadow-text-raised);
    text-transform: lowercase;
    :last-child {
      font-size: 66%;
    }
  }
}
