@use "../mixins/breakpoints.scss" as b;
@use "../mixins/containers" as c;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/spacing" as s;
@use "../typey/mixins/typeface" as tf;
@use "../mixins/cssvars" as cv;

.l-sitefooter {
  @include tf.typeface(heading);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid cv.cv(color-surface-border);
  background-color: cv.cv(color-surface-raised);
  text-transform: lowercase;
  > :first-child {
    @include fs.font-size(l);
    @include s.margin-left(1);
  }
  &__links {
    @include fs.font-size(m);
    display: flex;
    flex-direction: column;
    border-left: 1px solid cv.cv(color-surface-border);
    a {
      @include s.padding(0.5 1);
      display: block;
      white-space: nowrap;
      &:not(:last-child) {
        border-bottom: 1px solid cv.cv(color-surface-border);
      }
    }
  }
}

@include b.breakpoint-lg {
  .l-sitefooter {
    &__links {
      @include s.padding-bottom(1);
      @include s.padding-top(1);
      @include s.margin-left(1);
      flex-direction: row;
      align-items: center;
      border-left: 0;
      a {
        display: block;
        &:not(:last-child) {
          border-bottom: 0;
        }
      }
    }
  }
}
