{{ define "main" }}
  {{/* TODO: continue moving strings to front matter */}}
  <main class="c-home">
    <div class="c-industry-alert">
      <div class="c-industry-alert__header">Chilblane Industries</div>
      <div class="c-industry-alert__body">
        <strong>Status:</strong> {{ .Params.currentAlert }}
      </div>
    </div>
    <article>
      {{ $herobg :=resources.Get "images/home-bg.jpg" }}
      <h1
        class="c-home__heading"
        style="background-image: url({{ $herobg.Permalink }})"
      >
        {{ .Params.heading }}
      </h1>
      <div class="c-home__body">
        <section class="c-home__links">
          <p>
            <a href="https://www.github.com/chilblane/">GitHub</a>
          </p>
          <p>
            <a href="https://www.linkedin.com/in/chilblane/">LinkedIn</a>
          </p>
          <p>
            <a
              href="https://www.figma.com/file/leUdyaUZWfSXKxZ1FxC1vR/Resume?type=design&mode=design"
              >Resume (Figma)</a
            >
          </p>
        </section>
        <section>
          <h2>Hi there!</h2>
          <p>
            As a design technologist and product designer, I've worked with UX
            organizations and product/engineering teams to evaluate and improve
            their design systems used across organizations.
          </p>
          <p>
            My core competencies include design systems, information
            architecture, UX documentation and content strategy, and conversion
            forms. I've worked as a UX engineer, a product designer, and
            everything in-between.
          </p>
          <p>
            Beyond my work experience, I have interests in the social media and
            gaming industries, especially where they coincide. I would love to
            work in these industries in the future, as I believe they offer
            exciting challenges and opportunities for design innovation and user
            engagement.
          </p>
        </section>
        <section>
          <h2>Specialities</h2>
          <div class="c-row">
            <div class="c-col-4">
              <h3>Design systems</h3>
              <p>
                Collaborating with developers, branding, and product to plan out
                effective, flexible design systems and tokens that work in both
                design tool and code contexts, along with detailed
                documentation.
              </p>
            </div>
            <div class="c-col-4">
              <h3>UX ideation</h3>
              <p>
                Work with product and other stakeholders to architect new and
                updated experiences for the user, making decisions based on data
                and commonly-accepted best practices.
              </p>
            </div>
            <div class="c-col-4">
              <h3>UX/UI web design</h3>
              <p>
                Design and build content and marketing websites using a variety
                of tools and languages, including Figma, React, Sass, Gatsby,
                Hugo, Jekyll, and more.
              </p>
            </div>
          </div>
        </section>
      </div>
    </article>
  </main>
{{ end }}
