@use "../settings/colors" as c;
@use "../mixins/breakpoints.scss" as b;
@use "../mixins/containers.scss" as ct;
@use "../mixins/img-fluid" as if;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/spacing" as s;
@use "../typey/mixins/typeface" as tf;
@use "../mixins/cssvars" as cv;

.p-home {
  @include b.breakpoint-xl {
    display: grid;
    grid-template-columns: 2fr 1fr;
    article {
      border-right: 1px solid cv.cv(color-surface-border);
    }
  }
  section {
    @include s.padding(1);
    &:not(:last-child) {
      border-bottom: 1px solid cv.cv(color-surface-border);
    }
  }
  h1 {
    @include tf.typeface(heading);
    @include fs.font-size(xxl);
  }
  h2 {
    display: flex;
    column-gap: 1rem;
    &::after {
      display: block;
      flex-grow: 1;
      background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 16px,
        cv.cv(color-surface-stripe) 16px,
        cv.cv(color-surface-stripe) 24px
      );
      content: "";
    }
  }
}

.p-home-panels {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .c-card {
    @include s.padding(0.25 1);
  }
  h3 {
    @include s.padding-bottom(0.25);
    border-bottom: 1px solid cv.cv(color-surface-border);
    text-transform: lowercase;
  }
  @include b.breakpoint-lg {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-direction: row;
    h3 {
      @include fs.font-size(xs);
    }
    p {
      @include fs.font-size(xxs);
    }
  }
}

.p-home-featured {
  display: flex;
  flex-direction: column;
  &__thumbnail {
    flex: 1 0 auto;
    img {
      @include s.margin-bottom(1);
      @include if.img-fluid();
    }
  }
  &__metadata {
    flex: 0 1 auto;
  }

  h3 {
    @include s.margin(0.5 0);
    @include fs.font-size(l);
    .c-button {
      display: flex;
    }
  }
}
