@use "../settings/colors" as c;
@use "../mixins/breakpoints" as b;
@use "../mixins/img-fluid" as if;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/spacing" as s;
@use "../mixins/cssvars" as cv;

.p-list {
  &__grid {
    display: grid;
    gap: 1.5rem;
    @include b.breakpoint-xl {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    @include s.padding(0 1 1);
    img {
      @include if.img-fluid;
      opacity: 80%;
      @include s.margin(1 0);
      &:hover {
        opacity: 1;
      }
    }
    h3 {
      @include s.margin(0.5 0);
      @include fs.font-size(l);
      .c-button {
        display: flex;
      }
    }
    p:last-of-type {
      @include fs.font-size(s);
    }
  }
  &__tags {
    @include s.margin-top(1);
    @include s.padding-top(1);
    border-top: 1px solid cv.cv(color-surface-divider);
    .c-tag {
      @include fs.font-size(xxs);
    }
  }
}
