@use "../settings/colors" as c;
@use "../mixins/containers.scss" as ct;
@use "../mixins/breakpoints" as b;
@use "../mixins/img-fluid" as if;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/spacing" as s;
@use "../mixins/cssvars" as cv;

.p-list {
  @include s.padding(1 0);
  header h1 {
    @include s.margin(0.5 0);
  }
  header,
  section {
    @include ct.container();
  }
  section {
    @include s.padding-top(1);
    @include s.padding-bottom(1);
  }
  &__grid {
    display: grid;
    gap: 1.5rem;
    @include b.breakpoint-xl {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__item {
    @include s.padding(0 1 1);
    img {
      @include if.img-fluid;
      opacity: 80%;
      @include s.margin(1 0);
      &:hover {
        opacity: 1;
      }
    }
    h3 {
      @include s.margin(0.5 0);
      .c-button {
        display: flex;
        @include fs.font-size(l);
      }
    }
    p:last-of-type {
      @include fs.font-size(s);
    }
  }
}
