@use "../mixins/breakpoints" as b;
@use "../mixins/containers" as ct;
@use "../typey/mixins/font-size" as fs;
@use "../typey/mixins/typeface" as tf;
@use "../typey/mixins/spacing" as s;
@use "../mixins/cssvars" as cv;

.p-single {
  @include s.padding(1 0);
  margin-right: auto;
  margin-left: auto;
  max-width: cv.cv(sizes-content-width);
  header,
  section {
    @include ct.container();
  }
  header {
    @include s.padding-top(1);
    @include s.padding-bottom(1);
    h1 {
      @include s.margin(0.5 0);
    }
  }
  section {
    @include s.padding-top(1);
    @include s.padding-bottom(1);
    &:not(:last-child) {
      border-bottom: 1px solid cv.cv(color-surface-border);
    }
  }

  h2 {
    @include tf.typeface(heading);
    @include fs.font-size(xxl);
    @include s.margin-top(2);
    display: flex;
    column-gap: 1rem;
    line-height: 1;
    text-transform: uppercase;
    &:first-child {
      @include s.margin-top(1);
    }
    &::after {
      display: block;
      flex-grow: 1;
      background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 16px,
        cv.cv(color-surface-stripe) 16px,
        cv.cv(color-surface-stripe) 24px
      );
      content: "";
    }
  }

  @include b.breakpoint-lg {
    .c-figure,
    .gallery-wrapper {
      margin-right: min(
        -1.5rem,
        (cv.cv(sizes-layout-width) - cv.cv(sizes-content-width)) / -2
      );
      margin-left: min(
        -1.5em,
        (cv.cv(sizes-layout-width) - cv.cv(sizes-content-width)) / -2
      );
    }
    .c-figure {
      img {
        max-height: 60rem;
        max-height: 90vh;
      }
    }
  }
}
